.wrapper {
    background: #6e0edb;
    margin: auto;
    max-width: 100%;
  }
  
  .site-nav {
    background: transparent;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0),0px 1px 8px 0px rgba(0, 0, 0, 0);
    min-height: 80px;
    transition: background-color 220ms ease-in, box-shadow 80ms ease-in;
  }
  
  .site-nav .wrapper { background:white; height: 40px; transition: background-color 100ms ease-in-out; }
  
  nav ul { display: block; float: left; list-style: none; margin: 0; padding: 0; width: 100%; top: 0; }
  
  .site-nav li { display: block; float: left; height: 100%; line-height: 100%; margin: 0 20px 10px 0; }
  
  .site-nav a {
    border-bottom: 5px solid transparent;
    color: #666;
    display: block;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-size: 2.31rem;
    height: 43px;
    line-height: 45px;
    padding: 0 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms ease-out;
    outline-width: 0;
  }
  
  .sticky .site-nav a {
  color: #333;
  }
  
  .site-nav a:focus,
  .site-nav a:hover,
  .site-nav a.active:focus,
  .site-nav a.active:hover,
  .site-nav .wrapper:hover a.active:focus,
  .site-nav .wrapper:hover a.active:hover,
  .pages a:focus,
  .pages a:hover,
  .pages a.current:focus,
  .pages a.current:hover {
    border-color: #CF0404;
    border-width: 2px;
    color: #444;
    position: relative;
    top: -1px;
  }
  
  .site-nav .wrapper:hover a {
    color: transparent;
    text-shadow: 0 0 4px rgba(0,0,0,.5);
  }
  
  .site-nav .wrapper:hover a:focus,
  .site-nav .wrapper:hover a:hover,
  .site-nav .wrapper:hover a.active,
  .site-nav .wrapper:hover a.active:focus,
  .site-nav .wrapper:hover a.active:hover {
    color: #333;
    text-shadow: none;
  }
  
  .site-nav .wrapper:hover a.active {
    color: transparent;
    text-shadow: 0 0 4px rgba(0,0,0,.5);
  }
  
  .site-nav a.active,
  .pages a.current {
    border-color: #333 ;
    border-width: 2px;
    color: #444; 
    font-weight: 400;
  }
  
  .site-nav a:active,
  .site-nav a.active:active,
  .pages a:active,
  .pages a.current:active {
    border-color: #CF0404;
    border-width: 4px;
    top: 1px;
  }
  
  .sticky .site-header { margin-bottom: 80px; }
  
  .sticky .site-nav {
  background: rgba(255,255,255,.8);
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1),0px 1px 8px 0px rgba(0, 0, 0, .6);
  margin: -180px 0 0;
  position:fixed;
  width:100%;
  z-index: 1000;
  }
  
  .sticky .site-nav .wrapper {
  background: rgba(250, 250, 250, 0.75);
  }
  
  .site-nav li.search-trigger-container {
  float: right;
  }